* {
  font-family: "Cherry Swash", cursive;
 
}

body {
  display: flex;
  position: center;
  width: 100vw;
  height: 100vh;

  margin: 36px;
  background: linear-gradient(
    180deg,
    rgba(121, 180, 235, 0.99) 0%,
    #966eed 0%,
    rgba(171, 240, 252, 0.931066) 49.17%,
    rgba(176, 235, 251, 0.925751) 93.53%,
    rgba(9, 208, 252, 0.89) 100%,
    rgba(185, 234, 245, 0.927454) 100%,
    rgba(42, 200, 247, 0.919478) 100%,
    rgba(72, 169, 187, 0.927156) 100%
  );
  background-blend-mode: saturation;
}


h1 {
  position: absolute;
  width: 782px;
  height: 434px;
  left: 25.2rem;
  top: 245px;

  font-family: "Cherry Swash";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;

  color: rgba(57, 35, 74, 0.99);
}
.image-moon {
  position: absolute;
  width: 343px;
  height: 373px;
  left: 86.6rem;
  top: 31px;
}

.image-saturno {
  position: absolute;
  width: 580px;
  height: 580px;
  left: 17.5rem;
  top: 26.1rem;
}

p {
  position: absolute;
  width: 311px;
  height: 138px;
  left: 86.6rem;
  top: 430px;

  font-family: "Cherry Swash";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;

  color: #39234a;
}

button {
  position: absolute;
  width: 331px;
  height: 4.1rem;
  left: 86.1rem;
  top: 43.2rem;

  background: #8d96ec;
  border-radius: 45px;
}

.button-desing {
  position: absolute;
  width: 316px;
  height: 69px;
  

  font-family: "Cherry Swash";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.5rem;

  color: #39234a;
}

.create {
  position: absolute;
  width: 113px;
  height: 22px;
  left: 50.1rem;
  top: 61.2rem;

  font-family: "Cherry Swash";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #21074b;
}
